:root {
  --bg-color: #fcfcfc;
  --bg-interactive: #f0f0f0;
  --bg-blue: #0090ff;
  --bg-blue-hover: #0588F0;
  --border: #d9d9d9;
  --color: #202020;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg-color);
  color: var(--color);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

header {
  padding: 25px;
}

header h1 {
  text-align: center;
}

.container {
  width: 100%;
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main {
  padding: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.options {
  width: 100%;
  padding: 32px;
  border: 1px solid var(--border);
  border-radius: 15px;
  display: flex;
  gap: 16px;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--bg-interactive);
  box-shadow: 2px 2px 25px rgba(0, 0, 0, 0.2);
}

.row {
  width: 100%;
  display: flex;
  height: 100%;
}

.item {
  flex: 1;
  border: 2px solid var(--border);
  background-color: var(--bg-interactive);
  border-radius: 5px;
}

#btn {
  border: none;
  padding: 8px 16px;
  background-color: var(--bg-blue);
  color: white;
  border-radius: 5px;
  margin-bottom: 16px;
}

#btn:hover {
  background-color: var(--bg-blue-hover);
}

#btn:checked {
  background-color: var(--bg-blue);
}

.switch-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: var(--bg-blue);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--bg-blue);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

#random-color-toggler {
  padding-left: 8px;
}

#darken-color-toggler {
  padding-left: 8px;
}

@media (width > 450px) {
  .main {
    padding: 36px;
    flex-direction: row;
    gap: 56px;
  }
  .container {
    width: 66%;
  }
}